<#
  var rootDescription = "My sample console app powered by T4";
  var options = new [] 
  {
    Required("FileInfo", "input"  , "The input file")
  , Optional("FileInfo", "output" , "The output file")
  };
#>

<#@ include file="CommandLine.ttinclude" #>
